
.mse-buttons{
border: none;
color: #337ab7;
text-decoration: none;
background-color: transparent;
}
.mse-buttons:hover{
  text-decoration: underline;
  font-weight: 600;
}
.navbar-brand{
  display:none!important;
}
.ytp-show-cards-title{
    display: none!important;
}
/* mask css*/
.lmask {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #000;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  opacity: 0.4;
  overflow: hidden;
}
.lmask.fixed {
  position: fixed;
}
.lmask:before {
  content: '';
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: 0.9;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 35px #2187e7;
  width: 50px;
  height: 50px;
  -moz-animation: spinPulse 1s infinite ease-in-out;
  -webkit-animation: spinPulse 1s infinite linear;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.lmask:after {
  content: '';
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: 0.9;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 15px #2187e7;
  width: 30px;
  height: 30px;
  -moz-animation: spinoffPulse 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear;
  margin: -15px 0 0 -15px;
  position: absolute;
  top: 50%;
  left: 50%;
}
@-moz-keyframes spinPulse {
  0% {
    -moz-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7;
  }
  50% {
    -moz-transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    -moz-transform: rotate(-320deg);
    opacity: 0;
  }
}
@-moz-keyframes spinoffPulse {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7;
  }
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}
@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*button style*/
.btn-disable {
    background-color: #6c757d;
    border-color: #6c757d;
}
/*error label*/
label.error{
  color:red;
  margin-left: 10px;
}
@media (min-width: 768px){
  .echart-size{
    height:500px;
  }
}
@media (min-width: 992px){
  .echart-size{
    height:450px;
  }
}
@media (min-width: 1200px){
  .echart-size{
    height:600px;
  }
}

@media (min-width: 768px) {
  .input-txt{
    border-radius: 4px !important;
    width: 120px !important;
  }
}
@media (min-width: 1200px) {
  .input-txt{
    border-radius: 4px !important;
    width: auto !important;
  }
}
/*slider bar*/
#ex1Slider .slider-selection {
  background: #BABABA;
}

.scenarioName{
  color:#2E618C;
  font-weight: bold;
  margin-right: 10px;
}

#inputs li{
  margin-bottom: 5px;
  font-size: 15px;
}

#inputs{
  font-size: 1.5rem;
}