{% extends "appbuilder/base.html" %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/index.css')}}"></link>
{% endblock %}
{% block content %}
<div class="well well-sm"><h3>Glossary – Red Snapper Specific</h3></div>

<ol>

<li class="mt-1"><strong>Abundance:</strong> Numbers of red snapper individuals in the Gulf of Mexico (GoM) stock.</li>

<li class="mt-1"><strong>Acceptable Biological Catch (ABC):</strong> The annual red snapper catch level recommended for the GoM stock by Gulf of Mexico Fisheries Council’s Scientific and Statistical Committee (SSC).</li>

<li class="mt-1"><strong>Accountability Measures (AMs):</strong> Regulations that try to keep the total red snapper catch within the GoM under the annual catch limit (ACL).</li>

<li class="mt-1"><strong>Accuracy:</strong> A measure of how close an estimated parameter (e.g. in the GoM red snapper stock assessment) is to the true value. Compare precision.</li>

<li class="mt-1"><strong>Allocation:</strong> The share received by a sector or a component (e.g. for the GoM red snapper fishery, there are the Commercial Sector, the Recreational Sector, within the Recreational Sector, there are the Federal For-hire Component and Private Angling Component). Sometimes the allocation is based on the historic harvest amounts.</li>

<li class="mt-1"><strong>Annual Catch Limit (ACL):</strong> The amount of red snapper that can be caught by fishermen in GoM over one year.  </li>
<img src="{{url_for('static',filename='assets/images/index/Picture1.png')}}" alt="" style="width:500px;height:350px">
 

<li class="mt-1"><strong>Assessment error:</strong> Uncertainty resulted from imperfect GoM red snapper stock assessment.</li>

<li class="mt-1"><strong>Annual Catch Target (ACT):</strong> Annual harvest goal for the GoM red snapper fishery.</li>

<li class="mt-1"><strong>Bag limit:</strong> A law imposed on fishermen restricting the number of red snappers they may kill and keep.</li>

<li class="mt-1"><strong>Beverton-Holt Model:</strong> A classic discrete-time stock-recruitment model, which assumes the a globally asymptotically stable equilibrium for the red snapper recruitment.</li>

<li class="mt-1"><strong>Bias:</strong> A consistent under- or over-estimate of the true population parameters (e.g. in the GoM red snapper stock assessment).</li>

<li class="mt-1"><strong>Biological reference point:</strong> Benchmarks of GoM red snapper stock status from a biological perspective.</li>

<li class="mt-1"><strong>Biomass:</strong> The aggregate weight of the GoM red snapper stock.</li>

<li class="mt-1"><strong>Bycatch:</strong> The red snapper individuals that are harvested in the GoM shrimp fisheries, but not sold or kept. It does not include the individuals released alive.</li>

<li class="mt-1"><strong>Coefficient of variation (CV):</strong> A measure of relative variability for parameters (e.g. in the GoM red snapper stock assessment). It is the ratio of the standard deviation to the mean (average).</li>

<li class="mt-1"><strong>Discards:</strong> The portion of the red snapper catch, which is not retained on board.</li>

<li class="mt-1"><strong>Fecundity:</strong> The reproductive capacity of a red snapper individual, usually measured as the number of eggs produced by a female in one spawning event.</li>

<li class="mt-1"><strong>Fisheries regulations:</strong> Controls designed to restrict either effective fishing effort (input controls) or the total catch (output controls) to predefined limits in the GoM red snapper fishery.</li>

<li class="mt-1"><strong>Fishing mortality:</strong> A measurement of the rate of removal of red snapper from the GoM stock by fishing.</li>

<li class="mt-1"><strong>Harvest control rule (HCR):</strong> The pre-agreed guidelines for how many red snappers can be caught based on how well (or poorly) the GoM stock is doing.</li>

<li class="mt-1"><strong>Implementation error:</strong> The difference between a management goal for the GoM red snapper and the actual realized fishing mortality rate.</li>

<li class="mt-1"><strong>Individual Fishing Quota (IFQ):</strong> The red snapper IFQ program is a single-species, single-share category program, that started in the year of 2007. This program allocates quota to a shareholder, who then has a guaranteed share (which may be either harvested or traded) of the <strong>Total Allowable Catch (TAC).</strong></li>

<li class="mt-1"><strong>Kobe plot:</strong> A common visualization method in management strategy evaluation to represent the annual trajectory of the GoM red snapper fishery over time and examine the proportion of time that the fishery stock spends in different status. The Kobe plot is divided into four panels. The red panel (upper left) corresponds to the “overfished and overfishing phase”. The green panel (lower right) is the “no risk” area. The two yellow panels (overfishing and overfished) characterize intermediate situations.  </li>

<li class="mt-1"><strong>Management strategy evaluation (MSE):</strong> A simulation tool to quantify the risk of the GoM red snapper fisheries, and allow stakeholders to test alternative potential harvest strategies.</li>

<li class="mt-1"><strong>Maximum sustainable (sustained) yield (MSY):</strong> The maximum harvest that the GoM red snapper fishery can be sustained without reducing population productivity year after year (long-term), or for the next a few years (short-term).</li>

<li class="mt-1"><strong>Maximum Fishing Mortality Threshold (MFMT):</strong> The threshold above which the GoM red snapper stock is said to be experiencing overfishing.</li>

<li class="mt-1"><strong>Minimum legal size:</strong> A regulation in which captured red snapper individuals smaller than a prescribed minimum size must be returned to the sea.</li>

<li class="mt-1"><strong>Minimum Stock Size Threshold (MSST):</strong> The spawning stock biomass level at which the GoM red snapper stock is declared overfished and a rebuilding plan must be implemented. Right now, it is 50% of B<sub>MSY</sub>.</li>

<li class="mt-1"><strong>Natural mortality:</strong> A measurement of the rate of the removal of red snapper from the GoM stock due to causes associated with natural factors, such causes can include disease, competition, cannibalism, old age, predation, pollution and so on.  </li>

<li class="mt-1"><strong>Lognormal distribution:</strong> A continuous probability distribution of a random parameters whose logarithm is normally distributed. It is one of the most prevalently used distributions used in Fisheries Sciences. </li>

<li class="mt-1"><strong>Observation error:</strong> Uncertainty assuming that the state of the GoM red snapper fishery system cannot be observed perfectly.</li>

<li class="mt-1"><strong>Overfished:</strong> A status of a stock “whose size is sufficiently small that a change in management practices is required in order to achieve an appropriate level and rate of rebuilding.” For example, according to the 2016 stock assessment, the GoM red snapper was not overfished. </li>

<li class="mt-1"><strong>Overfishing:</strong> A rate or level of fishing mortality that jeopardizes the capacity of a fishery to produce the maximum sustainable yield on a continuing basis. For example, according to the 2016 stock assessment, the GoM red snapper was not overfishing.</li>

<li class="mt-1"><strong>Overfishing limit (OFL):</strong> The catch level of the GoM red snapper stock, above which overfishing is occurring. It is calculated as the median (50th percentile) of the probability density function of retained yield using the projection of F<sub>SPR26%</sub> (i.e., the yields that achieved the SSB target in equilibrium).</li>

<li class="mt-1"><strong>Percentile:</strong> A measure used in statistics indicating the value, below which a given percentage of observations in a group of observations falls.</li>

<li class="mt-1"><strong>Performance measure:</strong> Statistics in the projection of the GoM red snapper fishery to evaluate and compare the effectiveness of management strategies.</li>

<li class="mt-1"><strong>Precision:</strong> A measure of repeatability, or of how close repeated measurements are to one another. Compare accuracy.</li>

<li class="mt-1"><strong>Process error:</strong> Additional variability in the GoM red snapper fishery that are not represented by the main structure of the stock assessment model.</li>

<li class="mt-1"><strong>Quota:</strong> A limit on the weight of the red snapper that may be caught in the GoM.</li>

<li class="mt-1"><strong>Randomization:</strong> Assuring that each individual in the GoM red snapper stock has some probability of selection.</li>

<li class="mt-1"><strong>Random seed:</strong> A starting point in generating random numbers.</li>

<li class="mt-1"><strong>Recruitment:</strong> The number of the red snappers surviving to enter the GoM fishery. </li>

<li class="mt-1"><strong>Release mortality:</strong> The death of the red snapper individuals that caught alive and then die after release.</li>

<li class="mt-1"><strong>Retention:</strong> The amount of red snapper individuals that fishermen can catch and keep.</li>

<li class="mt-1"><strong>Risk assessment:</strong> The assessment of risks associated with a particular (management) strategy; e.g. the probability that the size of the GoM red snapper stock will drop below a defined reference point.</li>

<li class="mt-1"><strong>Robustness:</strong> A measure that the GoM red snapper fishery can remain unaffected by changes in the test management strategies.</li>

<li class="mt-1"><strong>Sample size:</strong> The number of items or measurements in a sample.</li>

<li class="mt-1"><strong>Selectivity:</strong> The ability of a gear to catch a certain size of red snapper relative to its ability to catch other sizes.</li>

<li class="mt-1"><strong>Stock assessment:</strong> Process of collecting, analyzing, and reporting demographic information to determine changes in the abundance of the GoM red snapper fishery stock in response to fishing and, to the extent possible, predict future trends of stock abundance.</li>

<li class="mt-1"><strong>Stock mixing:</strong> Individuals in one GoM red snapper sub-stock (e.g. the East Gulf) comes from the other (the West Gulf).</li>

<li class="mt-1"><strong>Stock spawning biomass:</strong> The total weight of the GoM red snapper stock that are old enough to spawn.</li>

<li class="mt-1"><strong>Stock Synthesis:</strong> An age-structured population dynamics model that is used to assess the impact of fisheries on fish and shellfish stocks while taking into account the influence of environmental factors. For example, the GoM red snapper stock assessment was conducted under Stock Synthesis 3.</li>

<li class="mt-1"><strong>Total allowable catch (TAC):</strong> The maximum catch allowed from the GoM red snapper fishery in accordance with a specified management plan.</li>

{% endblock %}